<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>EJS模板引擎</h2>
    <h3><%=msg%></h3>
    <br/>
    <ul>
        <%for(let i=0;i<list.length;i++){%>
            <li><%=list[i].title%></li>
        <%}%>
    </ul>
</body>
</html>